body{
	margin: 0;
	padding-top: 5px;
}

 .container	{
	display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    width: 100%;
 }

.menu button{
	background: blue;
	color: white;
	height: 30px;
	border-radius: 5px;
	border: none;
	margin-top: -8px;
}

.menu button a{
	color: white;
}

.menu a{
	color: black;
	text-decoration: none;
}

.menu a:hover{
	color: #217FF7;
	text-decoration: none;
	border-bottom: groove;
}



.right a:hover{
	color: red;
}

.left {
	width: 13%;
	display: flex;
	justify-content: space-around;
    align-items: flex-end;
}

.right {
	width: 87%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


.text{
	display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    height: 35px;
    background: darkgrey;
    margin-top: -15px;
    margin-left: 2px;
    text-align: center;
}

#radiobells_container{
	width: 100%;
	margin-top: 0px;
	padding-right: 5px;
}

.block {
	display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.menu{
	width: 87%;
	display: flex;
    justify-content: space-around;
    align-items: unset;
    font-family: Open Sans; 
	font-style: normal; 
	font-weight: normal; 
	line-height: normal; 
	font-size: 13px;
}


.block1{
	display: flex;
	width: 40%;
	height: 50px;
    background: #E6E9F0;
}


.block1 p{
	text-align: center;
	padding-top: 5px;
	padding-left: 50px;
}

.block1 i{
	color: red;
}

.block1 h4{
	padding-left: 30px;
	text-align: top;
	margin-top: 10px;
}



.block2{
	display: flex;
	width: 60%;
	height: 50px;
	background: red;
	background: rgba(33, 127, 247, 0.2);
}

.block2 p{
	padding-left: 30px;
	font-variant: petite-caps;
}

.block2 h3{
	padding-top: 10px;
	padding-left: 40px;
	font-variant: petite-caps;
	font-size: 12px;
}

.block2 a{
	color: blue;
}