body {
    margin: 0;
    padding: 0;
}
header {
    height: 115px;
    background: #FFFFFF;
    display: flex;
    border: 1px solid #EAECED;

}
.headerleft {
    background: #FFFFFF;
    flex: 1;
    margin: 15px;

 }
.headerright {
    display:flex;
    flex-direction: column;
    background: #FFFFFF;
    flex: 9;

}
.headerright__up {
    display: flex;
    background: #FFFFFF;
    flex: 1;
    margin-top: 15px;
    justify-content: center;



}
.headermenu {
    display: flex;
    background: #FFFFFF;
    flex: 1;





}
.live {
    background: rgba(33, 127, 247, 0.2);;
    flex:0.8;
    margin-right: 1px;
}

.live {

    padding-left: 20px;
    background: rgba(33, 127, 247, 0.2);
    display: -webkit-box;
    
}
  

.live__play {
    margin-top: 18px;

}
.live__broadcast {
    margin-top: 8px;
    margin-left: 15px;
    line-height: 1em;
}
.live__broadcast span {
    font-family: sans-serif;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 10px;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #4B5466;
}
.live__broadcast i {
    color: red;
font-size: 13px;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 10px;
}
.radio {
    background: rgba(33, 127, 247, 0.2);
    flex:1.8;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    font-family: sans-serif;
    font-style: normal;
    align-items: center;
    color: #4B5466;
}

.dollareuro {
    background: #E6E9F0;
    flex:3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   align-items: center;
    border: 2px solid #ccc transparent;
}
.menu {
 
    
    

   
    display: flex;
    flex-grow: 3;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 45px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
}


.menu a{
    border-bottom: 2px solid #FFFFFF;
    color: black;
    text-decoration: none;
    
}

.menu a:hover{
    color: #217FF7;
    line-height: 3em;
   
    border-bottom: 2px solid #217FF7;
    
}
.menu__button  {

    flex-grow: 0.2;
      background: #217FF7;
   
    
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
    padding: 5px 0 5px 0;
    



}
.menu__button a {

font-family: sans-serif;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 12px;
color: #FFFFFF;
text-decoration: none;
}

.search {
  flex-grow: 0.4;
  font-size: 15px;
  margin-top: 15px;
  text-align: center;


}
.lt {

    font-weight: normal;
    line-height: 18px;
    font-size: 12px;



    color: #4B5466;
}
.volume {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
.mk {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
.volume1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
.r {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
.degrees {
    padding-right: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;

    color: #9EA8BE;
}
.dollar {
    padding-right: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;

    color: #9EA8BE;
}
.euro {
    padding-right: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;

    color: #9EA8BE;
}
.age {

    padding-right: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    text-align: center;

    color: #010532;
}
.news {
    background: #212121;
   height: 37px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;



}
.leftarrow {
margin: 12px 0 0 20px;
}
.news__breaking {
margin-top: 12px ;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 12px;
letter-spacing: 0.1em;
text-transform: uppercase;
}

.news__text {
margin-top: 11px ;
margin-left: -18%; 

font-family: sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 13px;

}
.rightarrow {
margin: 12px 20px 0 0;
}

footer{
    background:#212121;
    margin-top: 310px;
}
.box{
    display: flex;
    padding-top: 30px;
    font-family: Open Sans; 
    line-height: 200%; 
}

.block{
    width: 35%;
    color: #FFFFFF;
    padding-left: 15px;
}

.block__text{
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    margin-top: 5px;
}

.block__tittle{
    color: white;
    font-family: sans-serif;
    margin-top: -9px;
    font-family: Open Sans;
    font-size: 33px;
}
.block__alt{
    margin-top: -40px;
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 12px;
}
.box-numbers{
    display: flex;
    padding-left: 50px;
    color: #FFFFFF;
    opacity: 0.7;
}
.box-numbers a{
    text-decoration: none;
    color:white;
}

.one{
    width: 12%;
    font-size: 13px;
    font-family: Open Sans;
}
.one__tittle{
    font-family: Open Sans; 
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.two{
    width: 12%;
    padding-left: 70px;
    font-family: Open Sans;
    font-size: 13px;    
}
.two__tittle{
    font-family: Open Sans; 
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.three{
    width: 20%;
    padding-left: 70px;
    font-family: Open Sans; 
    font-size: 12px; 
    letter-spacing: 0.1em; 
    text-transform: uppercase;
}
.three__tittle{
    font-family: Open Sans;
    font-size: 13px; 
}
.three i{
    padding-left: 10px;
    color: red;
    font-size: 10px;
}
.four{
    width: 25%;
    padding-left: 70px;
    font-family: Open Sans;  
    font-size: 16px; 
    letter-spacing: 0.1em;
}
.four__tittle{
    font-family: Open Sans; 
    font-size: 14px;  
}
.four i{
    font-size: 20px;
    opacity: none;
    color: white;
    padding-left: 10px;
}
.contents{
    padding-bottom: 10px;
    display: flex;
}
.contents__left{
    width: 85%;
    padding-left: 15px;
    color: #FFFFFF;
    opacity: 0.7;
    font-family: Open Sans;
    font-size: 10px;
    line-height: 0.5;
}
.contents__right{
    width: 18%;
    color: #FFFFFF;
    opacity: 0.7;
    font-family: Open Sans;
    font-size: 13px;
    line-height: 0.5;
}
.right__text{
    padding-top: 80px;
}