body {
    margin: 0;
    padding: 0;
}
header {
    height: 115px;
    background: #FFFFFF;
    display: flex;
    border: 1px solid #EAECED;

}
.hdlf {
    background: #FFFFFF;
    flex: 1;
    margin: 15px;

 }
.hdrg {
    display:flex;
    flex-direction: column;
    background: #FFFFFF;
    flex: 9;

}
.hdup {
    display: flex;
    background: #FFFFFF;
    flex: 1;
    margin-top: 15px;
    justify-content: center;



}
.hddn {

    background: #FFFFFF;
    flex: 1;





}
.rectangle1 {
    background: rgba(33, 127, 247, 0.2);;
    flex:0.8;
    margin-right: 1px;
}

.rectangle1 {
    background: rgba(33, 127, 247, 0.2);
    display: -webkit-box;
    font-family: Open Sans;
    font-style: normal;
    align-items: center;
    color: #4B5466;
}
.rectangle1 i {
    color: red;
}


.rectangle2 {
    background: rgba(33, 127, 247, 0.2);
    flex:1.8;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    font-family: Open Sans;
    font-style: normal;
    align-items: center;
    color: #4B5466;
}

.rectangle3 {
    background: #E6E9F0;
    flex:3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   align-items: center;
}
.menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
}
.menu button{
    background: #217FF7;

    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: -8px;
}

.menu button a{
    color: white;
}

.menu a{
    color: black;
    text-decoration: none;
}

.menu a:hover{
    color: red;

    border-bottom: groove;
    border-bottom-width: 2px;
    border-bottom-color: red;
    border-bottom-style: solid;
}
.lt {

    font-weight: normal;
    line-height: 18px;
    font-size: 12px;



    color: #4B5466;
}
.volume {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
.mk {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
.volume1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
.radio {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}
.gr {
    padding-right: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;

    color: #9EA8BE;
}
.rt {
    padding-right: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;

    color: #9EA8BE;
}
.eu {
    padding-right: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;

    color: #9EA8BE;
}
.age {

    padding-right: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;

    color: #010532;
}